.myBanner {
    background: #295971;
    background-image: linear-gradient(to left, #cf1f5b, blue);
    color: white;
}


.footer {
    background-color: darkGray;
    color: white;
}


.footer a {
  color: #cbd5e8;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;	
}


pre {
	display: block;
	margin-top: 0;
	margin-bottom: 1rem;
	overflow: auto;
	font-size: .875em;
	padding: 15px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
}

code {
    font-family: var(--bs-font-monospace);
    font-size: 1em;
}

/** Wikipedia Search Styles **/

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.searchForm-container {
    width: 100%;
    height: 100px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: left;
    /* padding-left: 50px; */
}

.searchForm {
    margin-left: 30px;
    display: flex;
    background-color: #292929;
    border: 1px solid #242424;
    border-radius: 4px;
    /*** width:50%; ***/
    width: 80%;
}

.searchForm-input {
    background-color: #f0f0f5;
    border: none;
    height: 44px;
    width: 100%;
    padding: 5px 10px;
    color: #292929;
}

.icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: none;
    background-color: #292929;
}

.icon:hover {
    background-color: #1f1f1f;
}

.icon img {
    width: 22px;
    height: 22px;
}

.searchResults {
    padding: 20px 0 50px;
    margin-top: 2px;
    width: 100%;
    text-align: left;
    background-color: white;
}

.resultItem {
    opacity: 0;
    margin-bottom: 20px;
    animation: show 0.5s forwards ease-in-out;
    color: #292929;
    border-radius: 2px;
    padding: 10px;
    width: 100%;
}


.resultItem:hover {
    background-color: aliceblue;
}

.resultItem-title {
    margin-bottom: 4px;
}

.resultItem-title a {
    color: black;
    text-decoration: none;
}

.resultItem-title a:hover {
    text-decoration: underline;
}

.resultItem-snippet,
.resultItem-link {
    color: darkSlateGray;
    font-size: 13px;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@media screen and (max-width: 750px) {
    .searchForm-container {
        padding: 20px 0 20px;
        height: auto;
        justify-content: space-between;
        flex-direction: column;
    }

    .searchForm {
        margin: 20px auto 0;
    }

    .searchForm-input {
       width: 300px;
	/** width: 100%; **/
    }

    .searchResults {
        /** width: 388px; **/
	width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}


/* End Wikipedia Search Styles */

/** SOCIAL MEDIA ICONS **/

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}



